/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f3f5;
    color: #333;
}

.container {
    max-width: 100%;
    margin: 2rem auto;
    padding: 1rem;
}

header {
    text-align: center;
    margin-bottom: 1rem;
}

.logo {
    width: 150px;
}

.card {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}



h2 {
    margin-bottom: 1.5rem;
    color: #0c5c9e;
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
}

.btn-primary, .btn-secondary {
    padding: 0.7rem 1.5rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

.btn-primary {
    background-color: #0c5c9e;
    color: #fff;
}

.btn-secondary {
    background-color: #ccc;
    color: #333;
}

.alternate {
    display: block;
    margin-top: 1rem;
    color: #0c5c9e;
    text-decoration: none;
}

.alternate:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin-top: 1.5rem;
}